<p id="notice"><%= notice %></p>

<div class="container">
  <div class="col-md-12 text-center">
    <div class="col-md-12 end"></div>
    <h1><b>Ejemplos</b></h1>
    <div class="col-md-12 end"></div>
    <br>
    <div class="col-md-8 col-md-offset-2 text-left">
      <h4>En base a lo aprendido en la introducción, a continuación se presentan
        diversos ejemplos de estadística descriptiva.</h4>
      <br>
      <br>
      <h2><b>EJEMPLO 1</b></h2>
      <div class="col-md-12 end"></div>
      <br>
      <h4>Determine para cada caso uno de los siguientes casos.
         ¿Cuál corresponde a una variable discreta?.
        Y ¿cuáles a una variable continua?.
      </h4>
      <p>
        <b>a)</b> Tasas de interés de préstamos hipotecarios. <br>
        <b>b)</b> Temperaturas de Santiago registradas durante un año por el servicio Meteorológico Nacional.<br>
        <b>c)</b> Escala de evaluación  del personal docente de la facultad de filosofía y letras.<br>
        <b>d)</b> Serie de los números de la lotería.<br>
      </p>
      <br>
      <br>
      <h2><b>Solución:</b></h2>
      <p>
        Recordemos que las variables discretas solo admiten números enteros,
        mientras que las continuas si admiten decimales.
        <br>
        <br>
        <b>a)</b> Tasas de interés de préstamos a) Las tasas de interés para
         préstamos hipotecarios son continuas, pues, trabajan con decimales. <br>
        <b>b)</b> Las temperaturas en grados Celsius también admiten decimales. <br>
        <b>c)</b> La escala de evaluación en general admite decimales,
        sin embargo hay casos por ejemplo de algunas universidades miden 1 al 100. <br>
        <b>d)</b> La lotería y en general cualquier juego de azar utiliza variables discretas.<br>
      </p>
      <br>
      <br>
      <h2><b>EJEMPLO 2</b></h2>
      <div class="col-md-12 end"></div>
      <br>
      <h4>Se desea saber las preferencias musicales de la juventud chilena y
      para ello se decide hacer una encuesta. ¿Cuál de los siguientes
      procedimientos asegura una muestra representativa?
      </h4>
      <p>
        <b>a)</b> Se encuesta a 100 jóvenes en el centro de las principales ciudades <br>
        <b>b)</b> Se encuesta a 2.000 jóvenes a la salida de los principales liceos del país<br>
        <b>c)</b> Se consigue en el registro civil una lista de todos los jóvenes del país y se elige una muestra al azar<br>
        <b>d)</b> Se le pide a los jóvenes que den su opinión en una radio de alcance nacional.<br>
      </p>
      <br>
      <br>
      <h2><b>Solución:</b></h2>
      <p>Considerando que la población es toda la juventud chilena dentro de una
         determinada edad, es casi imposible trabajar con la población completa,
         es por ellos que se debe elegir una muestra representativa y al zar de
         un grupo determinado de personas, por lo cual, lo más objetivo posible
         es la base de datos del registro civil donde están todos inscritos y por
         su rut, elegir en forma aleatoria una muestra que abarca todo el espectro
         de la población.
         <br>
         <br>
         La respuesta correcta es la C.
      </p>
      <br>
      <br>
      <h2><b>EJEMPLO 3</b></h2>
      <div class="col-md-12 end"></div>
      <br>
      <h4>Las notas de Claudia en Física son: 3,5 ; 4,2 ; 5,3 ; 2,8 ; 5,6 y 5,6.
         Con respecto a esta situación, es verdadero que:
      </h4>
      <p>
        I) Su media es 4,5              II) La moda es un 5,6                  III)  La mediana  es  4,9
      </p>
      <p>
        <b>a)</b> Solo I <br>
        <b>b)</b> Solo II<br>
        <b>c)</b> Solo I y II<br>
        <b>d)</b> Solo II y III<br>
      </p>
      <br>
      <br>
      <h2><b>Solución:</b></h2>
      <p>
        I) La media se calcula como la suma de todas las notas dividido por el
         total de notas es decir:
      </p>
      <math xmlns="http://www.w3.org/1998/Math/MathML">
        <mover>
          <mi>x</mi>
          <mo>&#xAF;</mo>
        </mover>
        <mo>=</mo>
        <mfrac>
          <mrow><mn>3</mn><mo>,</mo><mn>5</mn><mo>+</mo><mn>4</mn><mo>,</mo>
            <mn>2</mn><mo>+</mo><mn>5</mn><mo>,</mo><mn>3</mn><mo>+</mo><mn>2</mn>
            <mo>,</mo><mn>8</mn><mo>+</mo><mn>5</mn><mo>,</mo><mn>6</mn><mo>+</mo>
            <mn>5</mn><mo>,</mo><mn>6</mn></mrow><mn>6</mn></mfrac><mo>=</mo>
            <mfrac><mn>27</mn><mn>6</mn></mfrac><mo>=</mo><mn>4</mn><mo>,</mo>
            <mn>5</mn>
          </math>
        <br>
        <p>
          Por lo tanto es VERDADERO
        </p>
        <br>
        <p>
          II) La moda es el valor que más se repite en este caso es 5,6. VERDADERO
        </p>
        <br>
        <p>
          III) Para calcular la mediana se ordenan los valores de menor a mayor
           o viceversa, es decir:  2,8 – 3,5 – 4,2 – 5,3 – 5,6 – 5,6 . Como los
           valores es un número par , se eligen los dos centrales y se saca el
           promedio, es decir:
        </p>
        <math xmlns="http://www.w3.org/1998/Math/MathML"><mi>x</mi><mo>'</mo>
          <mo>=</mo><mfrac><mrow><mn>4</mn><mo>,</mo><mn>2</mn><mo>+</mo>
            <mn>5</mn><mo>,</mo><mn>3</mn></mrow><mn>2</mn></mfrac>
            <mo>=</mo><mn>4</mn><mo>,</mo><mn>75</mn><mo>&#x2248;</mo><mn>4</mn><mo>,</mo><mn>8</mn>
          </math>
          <br>
        <p>
          Por lo tanto es FALSO.
        </p>
      <p>
         <br>
         La respuesta correcta es la C.
      </p>
      <br>
      <br>
      <h2><b>EJEMPLO 4</b></h2>
      <div class="col-md-12 end"></div>
      <br>
      <h4>Si de un total de 45 alumnos se tiene que la frecuencia entre
         intervalo, el promedio final del curso es:
      </h4>
      <div class="col-md-4 col-md-offset-4">
        <table class="table">
          <thead>
            <tr>
              <th>Nota</th>
              <th>Frecuencia</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1.0-2.0</td>
              <td>1</td>
            </tr>
            <tr>
              <td>2.0-3.0</td>
              <td>3</td>
            </tr>
            <tr>
              <td>3.0-4.0</td>
              <td>6</td>
            </tr>
            <tr>
              <td>4.0-5.0</td>
              <td>24</td>
            </tr>
            <tr>
              <td>5.0-6.0</td>
              <td>6</td>
            </tr>
            <tr>
              <td>6.0-7.0</td>
              <td>5</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
      <div class="col-md-12">
        <p>
          <b>a)</b> 4,6 <br>
          <b>b)</b> 4,5<br>
          <b>c)</b> 4,3<br>
          <b>d)</b> 4,2<br>
        </p>
        <br>
        <h2><b>Solución:</b></h2>
        <p>
          Para sacar el promedio final de notas del curso, se debe calcular
          primero la marca de clase de cada intervalo (corresponde al promedio
          del intervalo, es decir, (1.0 + 2.0)/2 ). Luego se anota esta marca
          de clase en la tabla, puede ser a continuación de la frecuencia o antes
          de ella.
        </p>
        <div class="col-md-6 col-md-offset-3">
          <table class="table">
            <thead>
              <tr>
                <th>Nota</th>
                <th>M. Clase</th>
                <th>Frecuencia</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1.0-2.0</td>
                <td>1.5</td>
                <td>1</td>
              </tr>
              <tr>
                <td>2.0-3.0</td>
                <td>2.5</td>
                <td>3</td>
              </tr>
              <tr>
                <td>3.0-4.0</td>
                <td>3.5</td>
                <td>6</td>
              </tr>
              <tr>
                <td>4.0-5.0</td>
                <td>4.5</td>
                <td>24</td>
              </tr>
              <tr>
                <td>5.0-6.0</td>
                <td>5.5</td>
                <td>6</td>
              </tr>
              <tr>
                <td>6.0-7.0</td>
                <td>6.5</td>
                <td>5</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-12">
          <p>
            Ahora podemos sacar la media aritmética que en estos casos se llama
            media PONDERADA, para ello, procedemos a multiplicar cada marca de
            clase por su frecuencia, es decir:
          </p>
          <math xmlns="http://www.w3.org/1998/Math/MathML"><mover><mi>x</mi><mo>&#xAF;</mo>
          </mover><mo>=</mo><mfrac><mrow><mn>1</mn><mo>,</mo><mn>5</mn><mo>*</mo>
            <mn>1</mn><mo>+</mo><mn>2</mn><mo>,</mo><mn>5</mn><mo>*</mo><mn>3</mn>
            <mo>+</mo><mn>3</mn><mo>,</mo><mn>5</mn><mo>*</mo><mn>6</mn><mo>+</mo>
            <mn>4</mn><mo>,</mo><mn>5</mn><mo>*</mo><mn>24</mn><mo>+</mo><mn>5</mn>
            <mo>,</mo><mn>5</mn><mo>*</mo><mn>6</mn><mo>+</mo><mn>6</mn><mo>,</mo>
            <mn>5</mn><mo>*</mo><mn>5</mn></mrow><mn>45</mn></mfrac><mo>=</mo>
            <mfrac><mrow><mn>203</mn><mo>,</mo><mn>5</mn></mrow><mn>45</mn></mfrac>
            <mo>=</mo><mn>4</mn><mo>,</mo><mn>52</mn><mo>&#x2248;</mo><mn>4</mn>
            <mo>,</mo><mn>5</mn>
          </math>
          <br>
          <p>
            Por lo tanto, la alternativa correcta es la B.
          </p>
        </div>
      </div>
      <br>
      <br>
      <div class="col-md-12">
        <h2><b>EJEMPLO 5</b></h2>
        <div class="col-md-12 end"></div>
        <br>
        <h4>El siguiente gráfico muestra los sismos más importantes ocurridos en
           Parinacota durante una semana, en el mes de agosto 2014.
           Estos fueron medidos en la escala de Mercalli:
        </h4>
        <div class="col-md-6 text-center">
          <%= image_tag("g1.png") %>
        </div>
        <div class="col-md-12">
          <p>Con respecto a la información del gráfico, es <b>falso</b> que: <br>

            <b>a)</b> En promedio de los sismos registrados esa semana son de 2.8°Me. <br>
            <b>b)</b> El día que el sismo alcanzó mayor intensidad fue el Miércoles. <br>
            <b>c)</b> La moda fue 3º Me.<br>
            <b>d)</b> Dos días el grado de los sismos es 3° Me.<br>
            <b>e)</b> El lunes y Domingo los sismos no fueron percibidos por los habitantes de Parinacota.<br>
          </p>
          <br>
          <br>
          <h2><b>Solución:</b></h2>
          <p>Analicemos cual es la alternativa falsa <br>

            <b>a)</b> En promedio es de 2.8°Me. Por lo tanto es VERDADERA <br>
            <b>b)</b> El día miércoles el sismo alcanzo 6° Me, es verdadera.<br>
            <b>c)</b> La moda fue 3° Me pues se repite la mayor cantidad de veces (martes, jueves y viernes), es VERDADERA.<br>
            <b>d)</b> Tres días el grado de sismo fue 3°Me.Es FALSA<br>
            <br>
            Por lo tanto la alterntiva Falsa es la D.
          </p>
        </div>
      </div>
      <br>
      <br>
      <div class="col-md-12">
        <h2><b>EJEMPLO 6</b></h2>
        <div class="col-md-12 end"></div>
        <br>
        <h4>En un curso  se obtuvieron los siguientes promedios semestrales:
        4,1 - 6,3 - 5,2 - 4,1 - 6,5 - 5,6 - 5,6 - 6,1 - 5,2 - 4,8 - 5,6.
        Con estos datos la media, mediana y moda respectivamente son:
        </h4>
        <div class="col-md-12">
          <p>
            <b>a)</b> 5,4 - 5,6 - 5,6 <br>
            <b>b)</b> 5,2 - 5,4 - 5,6<br>
            <b>c)</b> 5,2 - 5,6 - 5,4<br>
            <b>d)</b> 5,6 - 5,6 - 5,4<br>
            <b>e)</b> 5,4 - 5,6 - 5,6<br>
          </p>
          <br>
          <br>
          <h2><b>Solución:</b></h2>
          <p>
            1) Promedio:
          </p>
          <math xmlns="http://www.w3.org/1998/Math/MathML"><mover><mi>x</mi><mo>&#xAF;</mo>
          </mover><mo>=</mo><mfrac><mrow><mn>4</mn><mo>,</mo><mn>1</mn><mo>+</mo>
            <mn>6</mn><mo>,</mo><mn>3</mn><mo>+</mo><mn>5</mn><mo>,</mo>
            <mn>2</mn><mo>+</mo><mn>4</mn><mo>,</mo><mn>1</mn><mo>+</mo><mn>6</mn>
            <mo>,</mo><mn>5</mn><mo>+</mo><mn>5</mn><mo>,</mo><mn>6</mn><mo>+</mo>
            <mn>5</mn><mo>,</mo><mn>6</mn><mo>+</mo><mn>6</mn><mo>,</mo><mn>1</mn>
            <mo>+</mo><mn>5</mn><mo>,</mo><mn>2</mn><mo>+</mo><mn>4</mn><mo>,</mo>
            <mn>8</mn><mo>+</mo><mn>5</mn><mo>,</mo><mn>6</mn></mrow><mn>11</mn>
          </mfrac><mo>=</mo><mfrac><mrow><mn>58</mn><mo>,</mo><mn>9</mn></mrow>
            <mn>11</mn></mfrac><mo>=</mo><mn>5</mn><mo>,</mo><mn>37</mn><mo>&#x2248;</mo>
            <mn>5</mn><mo>,</mo><mn>4</mn>
          </math>
          <p>
            2. Para la mediana ordenamos los datos: <br>
            Menor a mayor: 4,1 – 4,1 – 4,8 – 5,2 – 5,2 – 5,6 – 5,6 – 5,6 – 6,1 – 6,3 – 6,3. <br>
            Ahora se elige el valor central, es decir,  5,6
          </p>
          <p>
            3. La moda es el valor que más se repite en este caso 5,6. <br><br>
            Por lo tanto la respuesta correcta es la A.
          </p>
        </div>
      </div>
      <br>
      <br>
      <div class="col-md-12 text-center top">
        <h3>Volver al menú principal</h3>
        <%= link_to main_index_path do %><i class="fa fa-5x fa-circle-o"></i> <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-12 top-footer">
    <div class="col-md-12 end"></div>
    <div class="col-md-3 text-left">
      <p class="signature">
        Idea original por:
        <br>
        <i>Gladys Zorrilla Castillo</i>
        <br>
        <i>Magister en Educación</i>
        <br>
        <a href="mailto:gzorrilla68@yahoo.es">gzorrilla68@yahoo.es</a>
      </p>
    </div>
    <div class="col-md-3 text-left">
      <p>
        <i>Proyecto desarrollado para blog matemática educativa interactiva.</i>
      </p>
    </div>
    <div class="col-md-2">
      <p>
        Patrocinan:
      </p>
    </div>
    <div class="col-md-4">
      <img src="http://datos.gob.cl/uploads/group/2015-12-01-183520.933553Logo-01.jpg" style="width:30%; padding-right: 30px;"/>
      <img src="http://www.vitacura.cl/resources/images/web/educacion/insignia_antartica.gif" style="width:26%; padding-right: 30px;"/>
      <img src="https://d0.awsstatic.com/logos/customers/spotify-logo-primary-horizontal-light-background-rgb.jpg" style="width:30%;" />
    </div>
  </div>
</div>
