<div class="container">
  <div class="col-md-12 text-center">
    <div class="col-md-12 end"></div>
    <h1>Evaluaci칩n</h1>
    <div class="col-md-12 end"></div>
    <br>
    <div class="col-md-8 col-md-offset-2 text-left">
      <h4>Usted tiene un total de <b>UNA HORA</b> para responder el test.
      Al finalizar la hora, se enviar치n los resultados que haya marcado a su mail
      y a su profesor/a.</h4>
      <br>
      <br>
      <%= render 'form' %>
    </div>
  </div>
  <div class="col-md-12 top-footer">
    <div class="col-md-12 end"></div>
    <div class="col-md-3 text-left">
      <p class="signature">
        Idea original por:
        <br>
        <i>Gladys Zorrilla Castillo</i>
        <br>
        <i>Magister en Educaci칩n</i>
        <br>
        <a href="mailto:gzorrilla68@yahoo.es">gzorrilla68@yahoo.es</a>
      </p>
    </div>
    <div class="col-md-3 text-left">
      <p>
        <i>Proyecto desarrollado para blog matem치tica educativa interactiva.</i>
      </p>
    </div>
    <div class="col-md-2">
      <p>
        Patrocinan:
      </p>
    </div>
    <div class="col-md-4">
      <img src="http://datos.gob.cl/uploads/group/2015-12-01-183520.933553Logo-01.jpg" style="width:30%; padding-right: 30px;"/>
      <img src="http://www.vitacura.cl/resources/images/web/educacion/insignia_antartica.gif" style="width:26%; padding-right: 30px;"/>
      <img src="https://d0.awsstatic.com/logos/customers/spotify-logo-primary-horizontal-light-background-rgb.jpg" style="width:30%;" />
    </div>
  </div>
</div>
